
* {
    margin-top: 0;
    padding: 0;
}
h1
{
margin-bottom: 10px;
margin-top: 10px;
text-align: center;
font-size: 150%;
background-color: red;
}
#containerofmenus
{
	position: relative;
	background-color: white;
	border: 2px solid black;
}

#container1
{
	background-color: gray;
	border: 5px solid black;
	width: 33%;
	

}
#container2
{
	position: absolute;
	top: 0;
	left: 33.5%;
	background-color: gray;
	border: 5px solid black;
	width: 33%;
	

}

#container3
{
	position: absolute;
	top: 0;
	left: 66.5%;
	background-color: gray;
	border: 5px solid black;
	width: 33%;
	

}

#p1
{
	
	background-color: #F3A5A5;
	padding: 1px;
	border: 1px solid black;
	width: 80px;
	height: 20px;
	position: relative;
	float: right;

}
#p2
{
	float: right;
	background-color: #8B1616;
	color: white;
	padding: 1px;
	border: 1px solid black;
	width: 80px;
	height: 20px;	 
	
}
#p3
{
	float: right;
	background-color: #D08E15;
	padding: 1px;
	border: 3px solid black;
	width: 80px;
	height: 20px;
	 
}
#titlebox
{
	position: relative;
	top: 20px;
	
	
}
